@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");
/*  */
:root {
  --color-light: #eee;
  --color-dark: #0e1829;
  --color-orange: #db6400;

  --background: var(--color-light);
  --foreground: var(--color-dark);
}

/*  */
:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --color-grey: #eee;
  --color-dark-grey: #222831;

  --color-light: #eee;
  --color-dark: #222831;
  --color-orange: #db6400;

  --background: var(--color-dark);
  --foreground: var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Start Here */
body {
  background: var(--background);
}

.darkmode {
  --color-light: #eee;
  --color-dark: #222831;
  --color-orange: #db6400;

  --background: var(--color-light);
  --foreground: var(--color-dark);
}

.main {
  width: 100%;
  display: flex;
}

/* Side bar start here */
header {
  display: fixed;
  top: 0;
  left: 0;
  background-color: #02385f;
  padding: 2rem;
  color: var(--white);
  text-align: center;
  min-height: 100%;
  width: 25%;
  padding-bottom: 100%;
}

header h1 {
  font-size: 2.5rem;
}

header input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--white);
  margin: 2rem 0;
  color: var(--foreground);
  font-size: 1.6rem;
  padding: 1rem;
  width: 100%;
}

::placeholder {
  color: var(--white);
}

/* Movie container start here */
.movies-container {
  padding: 2rem;
  color: var(--background);
}

.movies-container > p {
  color: var(--foreground);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.movies {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  display: flex;
  background: var(--foreground);
  padding: 1rem;
  width: 41rem;
  border-radius: 3px;
  margin: 0 2rem 2rem 0;
}

.movie img {
  width: 35%;
}

.details {
  padding: 0 1rem;
}

.details h2 {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.details p.rate {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.rating {
  background: var(--color-sec);
  padding: 0 3px;
  border-radius: 3px;
  color: var(--foreground);
}

.overview {
  font-size: 1.2rem;
  width: 100%;
  height: 135px;
  overflow-y: auto;
}

.overview::-webkit-scrollbar {
  height: 5px;
  width: 4px;
  border: 1px solid #d5d5d5;
  background: #d5d5d5;
}

.overview::-webkit-scrollbar-track {
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.overview::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  outline: 1px solid #eee;
}

/* Dark Mode */
.toggle-dark {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--foreground);
  color: var(--foreground);
  padding: 2px 3px;
  /* margin: 1rem; */
  cursor: pointer;
}

.toggle-dark .txt {
  font-size: 1.6rem;
  margin-right: 5px;
}

/* Media Query */
@media screen and (max-width: 885px) {
  .toggle-dark {
    margin: 0;
  }

  header {
    padding: 2rem;
    width: 30%;
  }

  header input {
    width: 80%;
  }

  .movies-container {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .toggle-dark {
    border-color: var(--white);
    color: var(--white);
  }

  .main {
    flex-direction: column;
  }

  header {
    padding: 2rem;
    width: 100%;
  }

  header h1 {
    margin-right: 17rem;
  }

  header input {
    width: 90%;
  }

  .movies-container {
    width: 100%;
  }

  .movie {
    padding: 5px;
    width: 35rem;
    margin: 5px 0;
  }
}

@media screen and (max-width: 414px) {
  header h1 {
    margin-right: 12rem;
  }
}
